[Desktop Entry]
Name=GDLauncher
Comment=GDLauncher is a custom Minecraft launcher with built-in mod management, modpack support, and a modern interface.
Exec=gdlauncher %U
Terminal=false
Type=Application
Icon=gg.gdl.GDLauncher
StartupWMClass=GDLauncher
Categories=Game;
MimeType=x-scheme-handler/gdlauncher;x-scheme-handler/curseforge;x-scheme-handler/modrinth;
